@charset "UTF-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------------------*/
@font-face {
  font-family: "EE-Bellflower";
  src: url("../fonts/12190.eot");
  src: local("☺"), url("../fonts/12190.woff") format("woff"), url("../fonts/12190.ttf") format("truetype"), url("../fonts/12190.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("/img/ФОН.png") center/cover no-repeat;
  font-family: "EE-Bellflower";
  margin: 0 auto;
}

.wrapper {
  min-height: 120vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("/img/ФОН_ЛОГО.png") 50% 80% no-repeat;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    font-size: 14px;
    max-width: 100%;
  }
  .content {
    font-size: 14px;
  }
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.fullscreen__body {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1005px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  min-width: 1005px;
}

.container {
  min-width: 1005px;
  margin: 0 auto;
}

.hi__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hi__text {
  text-align: left;
  margin: 112px 45px 0 46px;
}

.hi__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hi__text p:first-child {
  font-size: 48px;
  color: #190a0a;
}

.hi__text p:nth-child(2) {
  color: #190a0a;
  font-size: 36px;
}

.hi__text p:nth-child(3) {
  color: #190a0a;
  font-size: 36px;
}

.hi__text p:last-child {
  color: #190a0a;
  font-size: 30px;
}

.form-wrap {
  min-height: 100vh;
}

.container {
  min-width: 893px;
}

.form-wrap__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 110vh;
}

.form-wrap__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 110vh;
  max-width: 893px;
  margin: 0 auto;
  font-size: 30px;
}

input {
  margin: 0 0 7px 0;
  border-radius: 4px;
  height: 20px;
  width: 350px;
}

input:hover {
  -webkit-box-shadow: 0 6px 40px rgba(9, 31, 231, 0.54);
          box-shadow: 0 6px 40px rgba(9, 31, 231, 0.54);
}

input:active {
  -webkit-box-shadow: 0 6px 40px rgba(9, 224, 231, 0.54);
          box-shadow: 0 6px 40px rgba(9, 224, 231, 0.54);
}

input:focus {
  -webkit-box-shadow: 0 6px 40px rgba(216, 8, 8, 0.54);
          box-shadow: 0 6px 40px rgba(216, 8, 8, 0.54);
}

p {
  text-align: left;
}

.check1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.none {
  font-size: 16px;
}

.form-wrap__ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-wrap__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-wrap__button__send {
  height: 210px;
  width: 210px;
  cursor: pointer;
}

button {
  background: url("/img/button-original.png") no-repeat;
}

button:hover {
  background: url("/img/button1.png") no-repeat;
}

button:active {
  background: url("/img/button3.png") no-repeat;
}

.end-reg p {
  font-size: 22px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.footer__link a {
  color: white;
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: 0.4px;
}

.footer__link p {
  text-align: center;
}

.footer__text {
  font-size: 14px;
  color: white;
  text-align: center;
  margin: 10px;
}

@media (max-width: 767px) {
  .body {
    font-size: 14px;
  }
}
