//подключили обнуление
@import "nullstyle.scss";

@font-face {
   font-family: "EE-Bellflower";
   src: url("../fonts/12190.eot");
   src: local("☺"), url("../fonts/12190.woff") format("woff"), url("../fonts/12190.ttf") format("truetype"),
      url("../fonts/12190.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
//подключили шрифты

body {
   background: url("/img/ФОН.png") center / cover repeat-y;
   font-family: "EE-Bellflower";
   max-width: 1005px;
   margin: 0 auto;
}

.wrapper {
   min-height: 110vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   background: url("/img/ФОН_ЛОГО.png") 80% 80% no-repeat;
}

.fullscreen {
   display: flex;
   min-height: 100vh;
}
.fullscreen__body {
   width: 100%;
   flex: 1 1 auto;
   max-width: 1005px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.content {
   max-width: 100%;
}

.hi {
}

.container {
   max-width: 100%;
   margin: 0 auto;
}

.hi__row {
}

.hi__body {
   display: flex;
   padding: 50px 0;
   justify-content: space-between;
}

.hi__title {
}

.hi__text {
   text-align: left;
   margin: 112px 45px 0 46px;
}

.hi__image {
   align-items: center;
}

.hi__text p:first-child {
   font-size: 48px;
   color: #190a0a;
}

.hi__text p:nth-child(2) {
   color: #190a0a;
   font-size: 36px;
}

.hi__text p:nth-child(3) {
   color: #190a0a;
   font-size: 36px;
}

.hi__text p:last-child {
   color: #190a0a;
   font-size: 30px;
}

.form-wrap {
   min-height: 100vh;
}
.container {
}

.form-wrap__row {
   display: flex;
   flex: 1 1 auto;
   min-height: 110vh;
}

.form-wrap__body {
   display: flex;
   flex: 1 1 auto;
   min-height: 110vh;
   max-width: 893px;
   margin: 0 auto;
   font-size: 30px;
}

input {
   margin: 0 0 7px 0;
   border-radius: 4px;
   height: 20px;
   width: 350px;
}

input:hover {
   box-shadow: 0 6px 40px rgba(9, 31, 231, 0.54);
}

input:active {
   box-shadow: 0 6px 40px rgba(9, 224, 231, 0.54);
}

input:focus {
   box-shadow: 0 6px 40px rgba(216, 8, 8, 0.54);
}

p {
   text-align: left;
}

.check1 {
   display: flex;
   align-items: center;
}

.none {
   font-size: 16px;
}

.form-wrap__ask {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}

.form-wrap__button {
   display: flex;
   justify-content: flex-end;
}

.form-wrap__button__send {
   height: 210px;
   width: 210px;
   cursor: pointer;
}

button {
   background: url("/img/button-original.png") no-repeat;
}

button:hover{
   background: url('/img/button1.png') no-repeat;
}

button:active{
   background: url('/img/button3.png') no-repeat;
}

.end-reg p {
   font-size: 22px;
}

.footer {
   display: flex;
   height: 65px;
   justify-content: center;
   align-items: center;
}

.footer__row {
}

.footer__link a {
   color: black;
   font-size: 12px;
   text-decoration: underline;
   letter-spacing: 0.4px;
}

.footer__link p {
   text-align: center;
}
.private-policy {
}

.accept-pers-data {
}

.footer__text {
   font-size: 14px;
   text-align: center;
   margin: 10px;
}
